<P>Assume that my existing password is 123</P>
<form [formGroup]="changePasswordForm">
  <div class="container col-md-4">
    <div class="form-group">
      <label for="">Old password</label>
      <input type="text" class="form-control" formControlName="oldPassword">

      <div *ngIf="oldPassword.pending">Checking......</div>

      <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
        <div *ngIf="oldPassword.errors.required">Please enter you password</div>
        <div *ngIf="oldPassword.errors.checkIfValid">Your old password is wrong!!!</div>

      </div>
      <div class="form-group">
        <label for="">New password</label>
        <input type="text" class="form-control" formControlName="newPassword" (change)="log(newPassword)">
        <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">New password is required</div>
      </div>
      <div class="form-group">
        <label for="">Confirm password</label>
        <input type="text" class="form-control" formControlName="confirmPassword" (change)="log(confirmPassword)">

        <div *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors.required" class="alert alert-danger">Confirm password is required</div>
        <div *ngIf="confirmPassword.touched && newPassword.value!=confirmPassword.value" class="alert alert-danger">Passwords don't match!!!</div>

      </div>
      <button class="class btn btn-primary">Change password</button>
    </div>
  </div>

</form>