<!-- <h1>Angular</h1>

<courses></courses>

<app-authors></app-authors>


<img [src]="imageUrl" />
<button (click) = "onClick()"></button>

<app-start-button [isActive]="post.isFavorite" (change)="onFavoriteChange($event)"></app-start-button>

<app-format-text>
</app-format-text> -->

<!-- <bootstrap-panel>
    <div class="heading">Heading</div>
    <div class="body">
    <h2>Body</h2>
        <p>Some content here...</p>
    </div>


</bootstrap-panel> -->
<!-- <ngiftest></ngiftest>

<like [isLiked]="tweet.isLiked" [likesCount]="tweet.likesCount"> -->
<!-- 
</like> -->

<!-- <zippy title="Shipping Details">
    Shipping Details content
</zippy>
<zippy title="Billing Details">
    Billing Details content
</zippy> -->

<!-- <contact-form></contact-form> -->
<!-- 
<my-courses-from></my-courses-from> -->


<!-- <signup-form></signup-form> -->


<!-- <new-course-form></new-course-form> -->

<!-- <change-password></change-password> -->
<posts></posts>