<h2>Following:</h2>
<div class="container">
  <div class="row" *ngFor="let follower of followers">
    <div class="col-md-1">
      <img src="{{follower.avatar_url}}" class="avatar">
    </div>
    <div class="col-md-2">
    <br>
      <div class="row">
          <!-- Routing with multiple parameters -->
        <a [routerLink]="['/followers', follower.id, follower.login]">{{follower.login}} </a> 
        <!-- We can bind rounterLink to array. First param is path (see app.modules), second is dynamic object(see ts file)  -->
      </div>
      <div class="row">{{follower.html_url}}</div>
     
    </div>
  </div>
</div>